* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62,5%;
}

.hide {
  display: none;
}

body {
  background: linear-gradient(45deg, #190361 0%, #bb00ff 100%);

  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  background: #ffffff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
  text-align: center;
}

h1 {
  font-family: "Montserrat";
  font-style: bold;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

p {
  margin-bottom: 2rem;
  font-family: "DM Sans";
  font-size: 1.5rem;
}

h1, p {
  color: #34355b;
}

img {
  cursor: pointer;
}

.screen2 p {
 background: #E4EDF1;
 box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}
.screen2 button {
  background: #ff9500;
  border-radius: 0.4rem;
  width: 17.4rem;
  height: 5.2rem;
}
